* {
    border: solid 2px black;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    border: solid 5px red;
}

.section-1 {
    display: flex;
    flex-direction: column;
    padding: 16px 100px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
}

.title-banner {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 128px;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}

img.logo {
    width: 50px;
}

img.header-img {
    width: 300px;
}

.cards {
    display: flex;
    gap: 24px;
}

.card img {
    width: 100px;
    height: 100px;
    border: solid 2px black;
    border-radius: 5px;
}

.quote-author {
    text-align: right;
}

footer {
    text-align: center;
}