* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.section-1 {
    display: flex;
    flex-direction: column;
    padding: 16px 100px;
    margin: 0px;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
}

.title-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.title-subtext, .links {
    font-size: 18px;
    color: #E5E7EB;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.section-2 h3 {
    margin-bottom: 16px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 128px;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.logo img {
    width: 50px;
}

img.header-img {
    max-width: 300px;
    height: auto;
}

.cards {
    display: flex;
    gap: 24px;
}

.card img {
    width: 100px;
    height: 100px;
    border: solid 2px black;
    border-radius: 5px;
}

.quote {
    width: 300px;
}

.quote-author {
    text-align: right;
}

.action-card {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    text-align: center;
}